<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='index.css') }}>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Text Reader</title>
  </head>
  <body class="bg-light m-3">
    <h1 class="text-center" style='background-color: #33ccff; font-family: helvetica;'> Text Reader 5000 </h1>

    <div class="row">
      <div class="col-sm-6 pb-2">
        <form action= "http://localhost:5000/predict" method=POST enctype=multipart/form-data>
            <input type='file' name='image' id='image'>
            <input type=submit value=Upload>
        </form>
      </div>

    </div>
    <div class="row">
      <div class="col-sml-6 m-2">
          <textarea name="name" rows="8" cols="60"> {{ result }} </textarea>
      </div>
      <div class="col-sml-6 h-50 overflow-auto">
        {% if img %}
            <img src={{ url_for('send_file', filename = img ) }} width='700'>
        {% endif %}
      </div>


    </div>
    <div class="row">
      <div class="col-sm-6">
        <form action="/stats" method="POST">
            <p> Name <input type='text' name='Name'/> </p>
            <p> Date Added <input type='text' name='Date'/> </p>
            <p> <input type="submit" value="Submit"></p>
        </form>
      </div>
    </div>


  </body>
</html>
